<div style="text-align: center;"><h2>Witajcie na GoreIT - Programmers Factory</h2>

  <p> Dolacz do projektow w jezykach: </p><br/>
  <br/>
  <ul>
    <li><a href="ruby">Ruby</a></li>
    <li><a href="java">Java</a></li>
    <li><a href="php">Php</a>
  </ul>


</div>



