<div style="text-align: center;"><h1>News</h1>

<table class="table table-striped">

  <% @articles.each do |article| %>
      <tr>
        <td> <b><span style=" vertical-align: text-bottom"> <%= article.title %></span></b></td>
      </tr>

      <tr>
        <td><%= article.text %></td>
      </tr>

      <tr>
        <td><i>Data: 03.03.2015, Autor: Gore</i></td>
      </tr>

  <% end %>

</table>

  <%= will_paginate @articles %>

    </div>