<div style="text-align: center;"><h1>Ruby</h1></div>

<p> W Ruby on Rails napisane zostaly strony goreit.eu, gruby.eu. gjava.eu</p>
<p> Ponadto w Ruby on Rails realizujemy nastepujace projekty: </p>
<ul>
  <li>
    1. rLibria ( Ruby, Rails, MySQL, SQLite3 )
  </li>

  <li>
    2. rAlegier( Ruby, Rails, Spree, MySQL)
  </li>

</ul>

