<!DOCTYPE html>
<html>
<head>
  <title>GoreIT - Programmers Factory </title>

  <%= stylesheet_link_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'bootstrap.min' %>

</head>

<body>
<div class="container">

  <h1><a href="/">GoreIT </a>- Programmers Factory</h1>

  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li> <a href="/news">News</a></li>
        <li><a href="/ruby">Ruby</a></li>
        <li><a href="/java">Java</a></li>
        <li><a href="/php">PHP</a></li>
        <li><a href="/kontakt">Kontakt</a></li>
      </ul>
    </div>
  </div>

  <%= yield %>
<br /><br /><br /><br />

  <p> <div style="text-align: center;"><a  href=""> GoreIT - Programmers Factory</a></div>
</div>
</body>

</html>